
.max-800 {
	max-width:800px;
	margin: auto;
}
.kedvencek-gombok {
	font-size: 1.4em;
}
.keresohatter {


    margin-bottom: 0px;
    background-image: url(../img/kerdesekbg.jpg);
    
    background-repeat: no-repeat;
    background-position: top center;

}
.keresohatter .formelotag {
	background: #eee3c2;
	border: 0px solid #644907;
}

.jumbotron {
    padding: 4rem 2rem 2rem;
}
.formcontainer {
	max-width:
}
#mirolszolkerdes:after {
	content: "?";
	display: block;
	margin-right: -20px;
	
}
.editing {
border: 1px solid #644907;
padding: 2px 2px;
}
.temakorlista div {
	flex: 0 0 25%;
    max-width: 25%;
}
.error-msg {
	display:none;
}
@media (max-width: 576px)  {
	.keresohater {
		background: -moz-radial-gradient(center, ellipse cover, #EDD8A6 0%, #CCB681 100%); /* ff3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #EDD8A6), color-stop(100%, #CCB681)); /* safari4+,chrome */
		background: -webkit-radial-gradient(center, ellipse cover, #EDD8A6 0%, #CCB681 100%); /* safari5.1+,chrome10+ */
		background: -o-radial-gradient(center, ellipse cover, #EDD8A6 0%, #CCB681 100%); /* opera 11.10+ */
		background: -ms-radial-gradient(center, ellipse cover, #EDD8A6 0%, #CCB681 100%); /* ie10+ */
		background: radial-gradient(ellipse at center, #EDD8A6 0%, #CCB681 100%); /* w3c */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDD8A6', endColorstr='#CCB681',GradientType=1 ); /* ie6-9 */

	}
}
.keresohatter2 {
background: -moz-linear-gradient(45deg, #EDD8A6 0%, #CCB681 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #EDD8A6), color-stop(100%, #CCB681)); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, #EDD8A6 0%, #CCB681 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, #EDD8A6 0%, #CCB681 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, #EDD8A6 0%, #CCB681 100%); /* ie10+ */
background: linear-gradient(45deg, #EDD8A6 0%, #CCB681 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCB681', endColorstr='#EDD8A6',GradientType=1 ); /* ie6-9 */
}
.btn-barna {
	background: #B1975A;
	color: #fff;

}
.btn-barna:hover {
	background: #eee3c2;
	color: #644907;

}
.form-control {
    border: 1px solid #d6c08c;
    
}
.maincontener {
	padding-top: 20px;
	padding-bottom: 20px;
} 
@media (min-width: 1280.01px) {
	.fooldalkontener {
		max-width: 1280px!important;
	}
	
}
table.liketable {
	margin-bottom: 7px;
	width:100%;
}
table.liketable tr:hover td {
	background: #FFF9EA;
}
.bottomlink {
	position: absolute;
	bottom:0px;
	left:0;
	width:100%;
}
.kerdesparagrafus {
	padding-bottom: 65px;
}
.formcontainer {
		max-width: 992px;
}

.cikktext {
	min-height: 250px;
}
.cimkebtn {
	margin: 3px;
}
.hidden {
	display:none;
}

.kommbtn {
	color: #777;
	margin: 2px;
	width: auto;
	padding: 2px 2px;
	font-size:11px;
}

.display-5 {
	font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.meret-6 {
	font-size: 1.3rem;
    
}
